@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

body{
    font-family: Open Sans Regular;
}

input, a{
    outline: none;
}

.desc{
    font-family: Open Sans Light;
}

#nav-header{
    background: #2E2E2E;
    border: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0em 0em 1em #2E2E2E;
    z-index: 500;
}

#loader{
    display: none;
}

#form{
    position: fixed;
    top: 50px;
    padding-top: 2em;
    padding-bottom: 1em;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid whitesmoke;
    z-index: 100;
	/*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;*/
}
.container-fluid, .navbar-brand{
    color: white;
}

#header-form{
    width: 40%;
    margin: 0 auto;
}
#header-form2{
    margin: 0 auto;
    overflow-x: hidden;
    height: 34px;
}

.navbar-menu{
    /*border: 1px dashed red;*/
    float: right;
    /*width: 20em;*/
    width: 25em;
    height: 50px;
}
#settings{
    /*border: 1px solid gray;*/
    height: 36px;
    width: 36px;
    float: right;
    margin-top: 0.5em;
    cursor: pointer;
}
#navicn-settings{
    font-size: 2.5em;
    color: #fff;
}
#navicn-settings:hover, .spinmenow{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.navbar-input{
    /*background: #FF6666;*/
    float: right;
    margin-top: 1em;
    padding-right: 1em;
    width: 20em;
}

#loader{
    margin-top: 1em;
    float: right;
    padding-right: 1em;
}
#navicn-loading{
    font-size: 1.5em;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

#status{
    margin-top: 1em;
    float: right;
    padding-right: 1em;
}
#navicn-status{
    font-size: 1.5em;
}
.online{
    color: #4DB84D;
}
.offline{
    color: #FF6666;
}
.hidden{
    display: none;
}

#result-body{
    width: 95%;
    margin: 0 auto;
    /*border: 1px dashed gray;*/
    padding-top: 8.5em;
    /*background: whitesmoke;*/
    border: none;
    box-shadow: none;
}

th, td{
    text-align: center;
}
td{
    line-height: 2em;
}
#transtype{
    width: 213px;
}

#transtypeid, #terminal{
    width: 127px;
}
#action{
    width: 7%;
}
#error{
    text-align: left;
}

.panel-body{
    overflow-y: auto;
    /*border: 1px dashed red;*/
    padding-bottom: 5.5em;
}
.result-count{
    padding-left: 5%;
}
.result-row{
    border:1px solid #CCC;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding: 1em;
    padding-left: 2em;
}

.result-row:hover, .result-user-row:hover{
    background: whitesmoke;
}
.table-responsive table td{
    text-align: center;
}
.result-panel-body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding-left: 5%;
}
#stat0, #stat1, #stat2, #stat3, #stat4, #stat5{
    border-top: 1em solid #CCC;
}
div[id^="stat02"], div[id*="stat02"], div[id^="stat12"], div[id*="stat12"], div[id^="stat22"], div[id*="stat22"], div[id^="stat32"], div[id*="stat32"], div[id^="stat42"], div[id*="stat42"], div[id^="stat52"], div[id*="stat52"] {
    border-top: 1em solid #BAD866;
}
div[id^="stat6"], div[id*="stat6"] {
    border-top: 1em solid #E5867A;
}
.result-user-row{
    width: 300px;
    height: 80px;
    border: 1px solid #CCC;
    margin: 0 auto;
    float: left;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.tltp{
    height: 15px;
    margin-top: -18px;
}

.user-id, .user-name{
    width: 50%;
    float: left;
}
.user-name, .user-action{
    margin-top: 0.5em
}
.user-id{
    
}
.user-id a{
    font-weight: bold;
}
.user-name{
    width: 50%;
    /*border: 1px dashed green;*/
    padding-right: 1em;
}
.user-role, .user-action{
    float: right;
    width: 50%;
    text-align: right;
}
.user-role{
    /*border: 1px dashed orange;*/
}
.user-action{
    /*border: 1px dashed brown;*/
}
.user-action a{
/*    height: 24px;
    width: 18px;
    display: block;*/
}

.panel-footer{
    text-align:right;
}



#nav-footer{
    color: #777;
    background: #2E2E2E;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
    padding: 1em 2em 1em 2em;
}
#nav-footer .footer a{
    color: #999;
    padding: 0 0.5em 0 0.5em;
}
#nav-footer .footer a:hover{
    color: #b3b3b3;
}
.filter-group{
    max-width:901px;
    margin: 0 auto;
}
#filters{
    width: 7em;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



